body{
    width: 1480px; 
}
.logo{
    font-family: 'Roboto';
    display: flex;
    align-items: flex-end;
    text-align: center;
    font-style: normal;
    margin-left: 50px;
}
.logo1{
    text-decoration: none;
color: black;
font-size: 80px;
}
.logo2{
    font-size: 80px;
    text-decoration: none;
    color:rgba(75, 202, 255, 1);
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(53, 68, 79, 1);
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: center;

}
.li{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-family: 'Roboto';
font-style: normal;
color:rgba(255, 255, 255, 1);
}
li {
    float: left;
  }
  li:first-child a {
    border-left: none;
  }
  
  li:last-child a {
    border-right: none;
  }
  .frame {
    display: flex;
    height: 399px;
    width: 344px;
    margin-left: 50px;
    flex-direction: column;
  }
  .menu1 {
    flex-grow: 1;
    color: rgba(72, 88, 99, 1);
    padding: 10px;
    border: 1px solid black;
  }
  .menu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  .menu1 li {
    padding: 25px;
    cursor: pointer;
    display: flex;
align-items: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
height: 100%;
width: 100%;
  }
  .menu1 li:hover {
    background-color: rgba(219, 219, 219, 1);
    padding: 2px;
    height: 100%;
width: 100%;
  }
.images{
    width: 885px;
height: 529px;
border: 1px solid #000000;
display:flex;
position: relative;
top: -400px;
left: 590px;
align-self:center;
justify-content: center;
overflow: hidden;
 }
 .images img {
  transition: 1s; 
  display: block; 
 }
 .images img:hover {
  transform: scale(1.2); 
 }
.img{
    width: 320px;
height: 381px;
display: flex;
align-self:center;
justify-content: center;
  }
.text{
  width: 885px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
position: relative;
top: -400px;
left: 590px;
  }
  .footer-list{
    position: absolute;
width: 1250px;
height: 44px;
top: 1030px;
  }
  .footerlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(99, 105, 110, 0.48);
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 32px;
    }
.list{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 28px;
display: flex;
align-items: center;

}
.copyright{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
position: absolute;
width: 230px;
height: 32px;
left: 1250px;
top: 0px;
background-color:rgba(99, 105, 110, 0.48) ;
}